/*áp dụng một style nào đó cho tất cả các thẻ HTML trong tài liệu */
* {
  margin: 0; /* Khoảng cách với các phần tử liền kề khác. */
  padding: 0; /* Khoảng đệm giữa nội dung và viền  */
  box-sizing: border-box; /* Kích thước của box nó sẽ tự động căn theo= kích thước của Border + Padding +Content. Link tham khảo: https://www.youtube.com/watch?v=bv16wjxgV4U  */
  font-family: Arial, Helvetica, sans-serif;
}

/* Bỏ dấu danh sách cho thẻ li */

header {
  display: flex; /*Thuộc tính Flex để dãn đều. Dàn hàng ngang cho 3 khối trong Header. */
  justify-content: space-between; /*Hàm căn theo chiều ban đầu đã chọn là chiều hàng ngang.  Dãn đều theo không gian.*/
}

.logo {
  /*Các phần tử sẽ chia đề không gian bên trong Container.*/
  flex: 1; /*Chiếm một phần chiều ngang*/
}

/*Phải đi học về Flexbox thì mới hiểu được.*/

.menu {
  /* Họ viết là Flex: 3 nên chưa hiểu lắm.*/
  flex: 3; /*Chiếm ba phần chiều ngang*/
}

.other {
  flex: 1; /*Đây là một cách ghi rút ghọn.*/ /*Chiếm một phần chiều ngang*/
}

h1 {
  display: inline-block;
}
