
@{
    ViewBag.Title = "HienThiTen";
}

<ul style="display:inline-block">
    <li>
        <a href="~/home/index">Trang chủ</a>
    </li>
    <li>
        <a href="~/home/hienthiten">Hiển thị tên</a>
    </li>
</ul>

<h2>Dang Van Doan</h2>
<p>facebook:doandangIT </p>

